* {
    font-family: "Germania One";
}

body::after,
body::before,
body {

    width: 100vw;
    height: 100vh;
    margin: none;
    padding: none;
    background: linear-gradient(to bottom
    , rgb(118, 201, 255), rgb(247, 255, 222));
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game {
    padding: none;
    transform: scale(1.0);
}

#sound {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 465px;
    left: 15px;
}

#gameover {
    position: absolute;
    width: 660px;
    height: 500px;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

#youwon {
    width: 100px;
    position: absolute;
    top: 200px;
    left: 280px;
    display: none;
}

#youlose {
    width: 660px;
    position: absolute;
    top: 00px;
    left: 0px;
    display: none;
}

#restart {
    position: absolute;
    top: 330px;
    left: 285px;
    cursor: pointer;
    font-size: 1.25em;
    color: #FFF;
}

#maxScreen {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 465px;
    right: 10px;
    z-index: 10;
    display: block;
}

#minScreen {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 465px;
    right: 10px;
    z-index: 10;
    display: none;
}



.instructions {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#instructions {

}

h1 {
    font-size: 4EM;
    letter-spacing: 2px;
    margin-bottom: 0px;
}

p {
    font-size: 2em;
    margin: none;
    line-height: 0px;
}

#keys {
    height: 100px;
}

#ludicrous {
    position: absolute;
    justify-content: center;
    bottom: 0px;
    font-size: 1em;
}
